body {
    background: #17141C;
    color: white;
}

h1 {
    font-size: 88px;
    margin-bottom: 0px;
}

h2 {
    margin-top: 0px;
}

hr {
    width: 300px;
}

img {
    background: unset;
    color: white;
    fill: white;
    width: 40px;
    height: 40px;
}

path {
    fill: white
}

button {
    background: unset;
    border: unset;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

ul {
    min-width: 500px;
}
li {
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.link {
    display: inline-block;
    font-size: 36px;
    transition-duration: 200ms;
    width: 100%;
    margin: 8px;
    color: #aaaaff;
    text-decoration: none;
    border-radius: 10px;
}
.link:hover {
    background: rgba(255, 255, 255, 0.1);
    padding-left: 40px;
}
